body{
	font-family: calibri;
}



#new-changes form p{
	font-style: italic;
	font-size: 22px;
}
#new-changes select{
	height: 44px;
	width: 10%;
	padding: 10px;
	margin:0 0 10px 0;
}
#new-changes form input{
	height: 44px;
	padding: 15px;
	margin:0 0 10px 0;
}
#new-changes form>div{
	width: 90%;
	margin-bottom: 50px;
}

#new-changes form>div>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
}