#our-presence{
    background: #f5f5f5;
    padding-bottom: 40px;
}
#our-presence > h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding: 48px 0 38px 0;
    color: #606062;
}
#our-presence>p{
    font-size: 18px;
    text-align: center;
    color: #97989a;
    line-height: 1.5em;
}
#our-presence>p:last-child{
    padding-bottom: 50px;
}

#maps{
    background:#fefefe;
    padding: 100px 120px 40px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#maps>div{
    margin: 20px;
}
#chandigarh-map{
    width: 360px;
    padding:40px 0;
}

#panchkula-map ,#mohali-map{
    width: 280px;
    padding:40px 0;
}
.map-row{
    display: flex;
    width: 100%;
}
.map-row:last-child{
    justify-content:flex-end;
}
.map-row>div{
    width: 40px;
    border: 1px solid;
    height: 60px;
    text-align: center;
    padding: 20px 0;
}
.map-row .four-box{
    width: 160px;
}

.map-name{
    font-size: 28px;
    padding: 10px 0 !important;
    color: #aaabaf;
    font-weight: bold !important;
    border: none !important;
}

.chandigarh-name{
    width:220px !important;
}

.panchkula-name, .mohali-name{
    width:150px !important;
    padding-left: 40px !important;
}


.maps-msg{
    color:#1e4c73;
    font-size: 20px;
    text-align: right;
    width: 100%;

}

.maps-paragraphs{
    width:100%;
    background: #fefefe;
    padding: 40px 0;
}

.maps-paragraphs p{
    width: 47%;
    margin: 0 auto;
    color: #97989a;
    font-size: 17px;
    line-height: 1.5em;
    padding: 20px 0;
}




  @media (max-width: 767px) {
    #maps{
        padding: 100px 40px 40px 40px;
    }
    .maps-paragraphs p{
        width: 80%;
    }
    .maps-msg {
        font-size: 18px;
    }
  }

  @media(max-width: 512px) {
    
    #maps{
        font-size: 12px;
    }
    .map-row>div {
        width: 30px;
        height: 50px;
    }
    .map-row .four-box{
        width: 120px;
    }
    #chandigarh-map {
        width: 270px;
    }
    #panchkula-map ,#mohali-map{
        width: 210px;
    }
    .chandigarh-name{
        width:170px !important;
    }
    
    .panchkula-name, .mohali-name{
        width:150px !important;
        padding-left: 0 !important;
    }
    #maps {
        padding: 100px 10px 40px 10px;
    }
    .maps-msg {
        font-size: 16px;
    }
    #our-presence > h1 {
        font-size: 32px;
    }
    
  }

  @media(max-width: 400px) {
    #maps {
        padding: 100px 0px 40px 0px;
    }
    .maps-paragraphs p{
        font-size: 16px;
        width: 90%;
    }
    #maps>div {
        margin: 10px;
    }
  }