*{
    font-family: calibri;
}

hr{
    width:60%;
    margin:70px auto 20px auto !important;
    border-top: 0.5px;
}
.ing-tyx-sba p{
    margin-right: 0 !important;
}
.ing-tyx-sba span:nth-child(1){
    font-size: 42px !important;
}
.ing-tyx-sba span:nth-child(3){
    background-color: #201e1f;
    color: #fefefe;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 42px;
}
span.gt_sexy{
    font-size: 42px !important;
}

@media (min-width:1013px){
    .apply-sba-inner{
        display: flex !important;
        justify-content: space-between !important;
    }
    .apply-sba-inner > div{
        width: 397px !important;
    }
}
@media (max-width:1201px){
    .ing-tyx-sba span:nth-child(1){
        font-size: 37px !important;
    }
    .ing-tyx-sba span:nth-child(3){
       font-size: 37px !important;
    }
}
@media(max-width:767px){
    span.gt_sexy{
        margin: 20px 0 !important;
    }
}

@media (max-width:464px){
    .ing-tyx-sba span:nth-child(1){
        font-size: 30px !important;
    }
    .ing-tyx-sba span:nth-child(3){
       font-size: 30px !important;
    }
    span.gt_sexy{
        font-size: 30px !important;
    }
}

@media (max-width:391px){
    .ing-tyx-sba span:nth-child(1){
        font-size: 20px !important;
    }
    .ing-tyx-sba span:nth-child(3){
       font-size: 20px !important;
    }
    .ing-tyx p {
        font-size: 16px !important;
    }
    span.gt_sexy{
        font-size: 26px !important;
        margin: 20px 0;
    }
}
.digital-lapalap h1 {
    margin: 105px 0 70px 0;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    color: #606062;
}
.business-logo img{
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
 .bus_a_right img{
    align-items: baseline;
    width: 500px;
 }

 .bus_a_right a button{
    background-color: #a9cf46;
    color: #fefefe;
    border: none;
    margin-top:5px;
    padding: 18px 34px;
    font-size: 20px;
    font-weight: bold;
 }

 #three-parts img{
    width: 50px;
    height: auto;
 }
 #four-divs p{
     font-weight: 400;
 }

 #four-divs .fr-d-1 p:nth-child(3),#four-divs .ft_102 p:nth-child(3){
    color: #363636;
    font-size: 18px;
    line-height: 1.5em;
 }

 #four-divs .fr-d-1 p:nth-child(2),#four-divs .ft_102 p:nth-child(2){
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
 }
 #four-divs .fr-d-1 p:nth-child(2){
     color: #fefefe;
}
#four-divs .ft_102 p:nth-child(2){
    color: #5f5f63;
}
#four-divs img{
    margin-bottom: 2px;
}

 @media(min-width:767px){
    #three-parts .lap-sba_p1{
        width: 27%;
    }
}
 #three-parts .lap_p1 >p{
    color: #a9cf46;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
#three-parts .lap_p1:nth-child(2) >p{
    color: black;
}
#three-parts ul, #three-parts .lap_p1 ul p{
    color: #97989a;
    font-size: 20px;
    padding-left: 0;
}

div#money{
    text-align: center;
}

div#money p:nth-child(3){
    font-size: 20px;
    color: #97989a;
    margin-bottom: 90px;
}

div#money p:nth-child(4){
    font-size:20px;
    color:#353535;
    margin-bottom:50px;
}
div#money .section-heading{
    font-size: 40px;
    color: #606062;
    margin-bottom: 70px;
}

div#money .section-button{
    background-color: #a9cf46;
    color: #fefdfc;
    width: 210px;
    height: 55px;
    font-size: 22px;
    border: none;
    margin-bottom: 90px;
}

#apply-sba a button{
    background-color: #201e1f;
    color: #fefefe;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border: none;
}

#apply-sba .section-heading{
    color: #363435;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.5;
}
#apply-sba .section-description{
    font-size: 20px;
    color: #97989a;
    margin-bottom: 70px;
    line-height: 1.5;

}

@media(min-width:993px){
    #apply-sba .section-description{
        width: 396px;
    
    }
}
@media(min-width:466px) and (max-width:767px){ 
    #apply-sba .section-description{
        width: 396px;
    
    }
}
@media(min-width:992px){
    #sba-container-1{
        width: 92%;
    }
    

}
@media(max-width:992px){
    .business-logo .logo-text{
        font-size: 22px !important;
    }
    
    /* over writing */
    #four-divs {
        display: flex;
        margin-bottom: 90px;
        flex-wrap: wrap;
    }
    .fr-d-1 {
        width: 100% !important;
    }
    .fr-d-2 {
        padding: 40px 0;
    }
    .fr-d-2 p {
        color: #606062;
        height: 180px;
        font-size: 50px;
        font-weight: 500;
        line-height: 1;
    }
    .ft_101 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .ft_102 {
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
}
@media (max-width: 1200px){
    .ing-tyx {
        width: 100% !important;
    }
}

@media(max-width:592px){
    .bus_a_right a button {
        padding: 12px 22px !important;
        font-size: 18px !important;
    }
    .digital-lapalap h1 {
        line-height: 1 !important;
        font-size: 32px !important;
    }
    .fr-d-2 p {
        font-size: 45px !important;
    }
    .ft_155 {
        font-size: 20px !important;
        
    }
    div#money p:nth-child(3) {
        font-size: 18px !important;
    }
    div#money p:nth-child(4) {
        font-size: 18px;
    }
    div#money .section-button {
        width: 180px;
        height: 45px;
        font-size: 20px;
    }
    #apply-sba .section-heading {
        font-size: 20px;
    }
    #apply-sba .section-description {
        font-size: 18px;
    }
    #apply-sba a button {
        width: 156px;
        height: 45px;
        font-size: 20px;
    }
}